@import url(common.css);

* {box-sizing: border-box; }
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 15px;
}


/* Header & Section */
header, section {
  text-align: center;
  font-size: 42px;
  text-transform: uppercase;
}
header{
  height: 100px;
  line-height: 100px;
  background-color: #eee;
}
section {
  height: calc(100vh - 250px);  /* 전체뷰높이-(헤더높이+푸터높이) */
  line-height: 500px;
}

/* Footer */
footer {
  background-color: #37393d;
  color: #fff;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.copyright {flex: 8;}
.family {flex: 2}
.foot-util a {color: yellowgreen;}
.foot-util a:hover {text-decoration: underline;}
.foot-util a:last-child {color: #fff;}
address {
  color: #999;
  font-style: normal;
}
address .bar {
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #555;
  margin: 0 10px;
}

/* Family Site */
.dropdown {
  width: 200px;
  position: relative;
  background-color: #303135;
  padding: 5px;
  border: 1px solid #555;
  cursor: pointer;
  float: right;
}
.sub-navi {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 0;
  line-height: 30px;
  width: 100%;
  background-color: #58595b;
  border: 1px solid#999;
  border-bottom: none;
}
.sub-navi li {
  padding: 1px 10px;
  border-bottom: 1px solid #777;
}
.sub-navi li:hover {background-color: #333;}
.sub-navi li a {color: #ccc;}
.title:after {
  content:"\f107";
  font-family: fontawesome;
  position: absolute;
  top: 0;
  right:0;
  color: #ccc;
  width: 30px;
  height: 100%;
  text-align: center;
  line-height: 30px;
}
.title.active:after {transform: rotateX(180deg);}