@import url(reset.css);
@import url(font.css);

body{background:#efefef;}

#wrap{width:100%}

section{
	width:1200px;
	height:500px;
	background:skyblue;
	margin:auto;
}


/*Footer----------------------------------*/

footer{
	width:100%;
	border-top:solid 2px #334555;
	background-color:#fff;
	margin-top:50px;
	padding-bottom:10px;
}
footer .footer1{
	width:100%;
	height:50px;
	border-bottom:solid 1px #e9e9e9;
}
.footer1_in{
	width:1200px;
	margin:auto;
	display: flex;
}
.footmenu1, .footmenu2{flex: 1;}


.select{ 
	font-size:14px;
	font-weight:400;
	line-height:50px;
	padding-left:20px;
	border-left:solid 1px #e9e9e9;
}
.footer1_in>div:nth-of-type(2){
	border-right:solid 1px #e9e9e9;
}

.select:after{
	content: "\e946";
	font-family: xeicon;
	font-size: 20px;
	float: right;
	width: 50px;
	border-left:solid 1px #e9e9e9;
	text-align: center;
	cursor: pointer;
}
.active:after{
	content: "\e943";
	font-family: xeicon;
	font-size: 20px;
	float: right;
	width: 50px;
	border-left:solid 1px #e9e9e9;
	text-align: center;
}

.footmenu1{position:relative;}
.footmenu1 .fbox1{  
	display:none;
	position:absolute;
	bottom:103%;  /*보통 100%를 사용해서 끝나는 지점에 맞추지만 가로라인이 겹쳐서 깔끔하게 하기 위해 조정함.*/
	left:0;
	width:600px;
	border:1px solid #334555;
	padding:30px;
	padding-left:20px;
	padding-right:10px;
	background-color:#fff;
}
.footmenu1 .fbox1>ul{
	display: flex;
	justify-content: space-between;
}
.footmenu1 .fbox1>ul>li{
	flex: 1;
	margin-left:15px;
	padding-right:20px;
	border-right:solid 1px #e9e9e9;
	font-size:14px;
	font-weight:600;
}
.footmenu1 .fbox1>ul>li:last-child{border-right: none;}
.footmenu1 .fbox1>ul>li>ul{margin-top:10px;}
.footmenu1 .fbox1>ul>li>ul>li{margin-bottom:5px;}

.footmenu1 .fbox1>ul>li>ul>li>a{
	color:#666;
	font-size:13px;
	font-weight:normal;
}

footer .footer2{
	width:1200px;
	margin:25px auto;
	background : #fff;
}