@import url(reset.css);
@import url(font.css);

body{background:#dddcdb}

section{
	width:1200px;
	height:500px;
	background:skyblue;
	margin:0 auto;
}

footer{
  width: 1200px;
	height: 70px;
	margin: auto;
	background-color: #fff;
	display: flex;
}

.foot_left{
	flex: 1;
	position: relative;
}
.select{
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
	cursor: pointer;
}
.select h3{
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #666;
}
.fa{
	color: #666;
	margin-bottom: 5px;
}

.foot_center{
	flex: 5;
  border: solid #ccc;
	border-width: 0 1px;
}
.foot_center P{
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.foot_right{
	flex: 1;
	position: relative;
}

/* 셀렉트버튼(화살표) 클릭시 바뀌는 부분(JQuery) */
.active{
  background-color: #2a2a2a;
	padding-top: 20px;
}
.active .fa{
	color: #fff;
}


/* 셀렉트 박스---------------- */
.menu{  
	display:none;
	position:absolute;
	bottom:100%;
	background:#2a2a2a;
	width:100%;
}
.menu>ul>li{
	/* padding-left: 10px; */
	text-indent: 10px;
}
.menu ul li span{   
	display:block;
	margin:10px 0;
	color:#fff;
	font-size:14px;
	font-weight:400;
}
.smenu li:last-child{
	padding-bottom: 5px;
	border-bottom:solid 1px #535252;
}
.smenu li a{
	display:block;
	font-size: 13px;
	color:#969696;
	padding:3px 0;
}
.smenu li a:after{
	content: '\e5cc';
	font-family: 'Material Icons Outlined';
	float:right;
	margin: 3px 10px 0 0;
	opacity: 0;
	transition: 0.35s;
}
.smenu li a:hover{
	color:#fda601;
	background-color: #000;
}
.smenu li a:hover:after{
	opacity: 1;
}